<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="1" android:versionName="1.0"
	package="kltn.client.android_client">
	<uses-sdk android:minSdkVersion="4" />

	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:debuggable="true" android:name="App">
		<activity android:name="kltn.client.android_client.Android_clientActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="kltn.client.android_client.activity.MainActivity"></activity>
		<activity android:name="kltn.client.android_client.activity.registerActivity"></activity>
		<activity android:name="kltn.client.android_client.activity.imageActivity"></activity>
		<activity android:name=".activity.MenuActivity" android:theme="@android:style/Theme.NoTitleBar" android:configChanges="keyboardHidden|orientation"></activity>
		<activity android:name=".activity.PaymentActivity"></activity>
		<activity android:name=".activity.AccountAddXuActivity"></activity>
		<activity android:name=".activity.AccountTransferXuActivity"></activity>
		<activity android:name=".activity.myAccountActivity" android:theme="@android:style/Theme.NoTitleBar" android:configChanges="keyboardHidden|orientation"></activity>
		<activity android:name=".activity.TabDealsActivity" android:theme="@android:style/Theme.NoTitleBar" android:configChanges="keyboardHidden|orientation"></activity>
		<activity android:name=".activity.TabBestActivity" android:theme="@android:style/Theme.NoTitleBar" android:configChanges="keyboardHidden|orientation"></activity>
		<activity android:name=".activity.TabBrowserActivity" android:theme="@android:style/Theme.NoTitleBar" android:configChanges="keyboardHidden|orientation"></activity>

	</application>
</manifest>